<!DOCTYPE html>
<html>
  <head>
    <title>Freedom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body class="bg-light2">
    <%= yield %>
  </body>
</html>
